/*!
 * Cloud ACPI Editor
 * Copyright (C) kylon 2016-2020
 * Licensed under GPLv3 license
 */
.cm-s-darcula {
    font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif
}

.cm-s-darcula.CodeMirror {
    background: #2b2b2b;
    color: #a9b7c6
}

.cm-s-darcula span.cm-meta {
    color: #bbb529
}

.cm-s-darcula span.cm-number {
    color: #6897bb
}

.cm-s-darcula span.cm-keyword {
    color: #CC70FF;
    line-height: 1em;
    font-weight: 700
}

.cm-s-darcula span.cm-extent {
    color: #6897bb;
    line-height: 1em;
    font-weight: 700
}

.cm-s-darcula span.cm-scope {
    color: #CC70FF;
    line-height: 1em;
    font-weight: 700
}

.cm-s-darcula span.cm-predicate {
    color: #fb5b5b;
    line-height: 1em;
    font-weight: 700
}

.cm-s-darcula span.cm-action {
    color: #ff7ec6;
    line-height: 1em;
    font-weight: 700
}

.cm-s-darcula span.cm-regex {
    color: #bbb529;
    line-height: 1em;
    font-weight: 700
}

.cm-s-darcula span.cm-codedelim {
    color: #ea7d4f;
    line-height: 1em;
    font-weight: 700
}

.cm-s-darcula span.cm-def {
    color: #a9b7c6;
    font-style: italic
}

.cm-s-darcula span.cm-variable {
    color: #a9b7c6
}

.cm-s-darcula span.cm-variable-2 {
    color: #a9b7c6
}

.cm-s-darcula span.cm-variable-3 {
    color: #9876aa
}

.cm-s-darcula span.cm-type {
    color: #ff7ec6;
    font-weight: 700
}

.cm-s-darcula span.cm-property {
    color: #7eedf2;
}

.cm-s-darcula span.cm-imports {
    color: #ea7d4f;
}

.cm-s-darcula span.cm-operator {
    color: #a9b7c6;
}

.cm-s-darcula span.cm-string {
    color: #fb5b5b;
}

.cm-s-darcula span.cm-string-2 {
    color: #6a8759;
}

.cm-s-darcula span.cm-comment {
    color: #61a151;
    font-style: italic
}

.cm-s-darcula span.cm-link {
    color: #cc7832
}

.cm-s-darcula span.cm-atom {
    color: #ff7ec6;
}

.cm-s-darcula span.cm-error {
    color: #bc3f3c
}

.cm-s-darcula span.cm-tag {
    color: #629755;
    font-weight: 700;
    font-style: italic;
    text-decoration: underline
}

.cm-s-darcula span.cm-attribute {
    color: #6897bb
}

.cm-s-darcula span.cm-qualifier {
    color: #6a8759
}

.cm-s-darcula span.cm-bracket {
    color: #a9b7c6
}

.cm-s-darcula span.cm-builtin {
    color: #ff9e59
}

.cm-s-darcula span.cm-special {
    color: #ff9e59
}

.cm-s-darcula span.cm-trailingspace {
    background: #f5f5f52e;
}

.cm-s-darcula span.cm-matchhighlight {
    color: #fff;
    background-color: rgba(50, 89, 48, .7);
    font-weight: 400
}

.cm-s-darcula span.cm-searching {
    color: #fff;
    background-color: rgba(61, 115, 59, .7);
    font-weight: 400
}

.cm-s-darcula .CodeMirror-cursor {
    border-left: 1px solid #a9b7c6
}

.cm-s-darcula .CodeMirror-activeline-background {
    background: #323232
}

.cm-s-darcula .CodeMirror-gutters {
    background: #313335;
    border-right: 1px solid #313335
}

.cm-s-darcula .CodeMirror-guttermarker {
    color: #ffee80
}

.cm-s-darcula .CodeMirror-guttermarker-subtle {
    color: #d0d0d0
}

.cm-s-darcula .CodeMirrir-linenumber {
    color: #606366
}

.cm-s-darcula .CodeMirror-matchingbracket {
    background-color: #3b514d;
    color: #ffef28 !important;
    font-weight: 700
}

.cm-s-darcula div.CodeMirror-selected {
    background: #214283
}

.CodeMirror-hints.darcula {
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    color: #9c9e9e;
    background-color: #3b3e3f !important
}

.CodeMirror-hints.darcula .CodeMirror-hint-active {
    background-color: #494d4e !important;
    color: #9c9e9e !important
}