/*!
 * Cloud ACPI Editor
 * Copyright (C) kylon 2016-2020
 * Licensed under GPLv3 license
 */
@import "font-awesome.min.css";

* { /* fix infinite loops in plugins */
    will-change: auto !important;
}

.hidden {
    display: none;
}

.margin-top-20 {
    margin-top: 20px;
}

textarea:disabled, select:disabled, input:disabled {
    cursor: not-allowed;
}

/*
 * PS SCROLLBAR ACPIE
 */
.ps__thumb-x, .ps__thumb-y {
    border-radius: unset;
}

.ps__rail-x {
    height: 0;
}

.ps__rail-y {
    width: 0;
}

#wrapper {
    position: relative;
    min-height: 100%;
    padding-bottom: 35px;
    padding-top: 35px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

/*
 * Modals
 */
 .custom-btn-modal {
    padding: 0;
}

.custom-btn-modal .btn {
    width: 100%;
    border-radius: 0 0 .3rem .3rem;
}

.acpie-modal-theme, .acpie-modal-theme .form-select, .acpie-modal-theme .form-control {
    border-radius: unset;
}

.acpie-modal-theme .custom-btn-modal {
    cursor: pointer;
}

.afixdalert {
    position: fixed;
    top: 45px;
    right: 10px;
    z-index: 99;
}

/*
 * CodeMirror
 */
#wrapper .CodeMirror {
    padding-left: 35px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}


/*
 * TOP BAR
 */
#opened-list {
    height: 35px;
    width: 100%;
    position: fixed;
    white-space: nowrap;
    z-index: 601;
}

#opened-list .ps__thumb-x {
    height: 2px;
}

.file-handle {
    position: relative;
    height: 100%;
    width: 140px;
    padding: 2px;
    cursor: pointer;
    display: inline-block;
}

.file-handle > .fa {
    font-size: 80%;
    position: absolute;
}

.file-handle > .icon-file {
    top: 11px;
    left: 4px;
}

.file-handle:hover .handle-close {
    visibility: visible;
}

.handle-name {
    width: 68%;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    float: right;
    right: 20px;
    text-overflow: ellipsis;
    font-size: 80%;
    top: 8px;
    text-align: center;
}

.handle-close {
    visibility: hidden;
    top: 11px;
    right: 5px;
}

#newfile {
    width: 35px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    height: 100%;
    display: inline-block;
}

#newfile > i {
    padding-top: 10px;
}

/*
 * Footer
 */
.footer {
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
    padding: 5px;
    text-align: center;
    -webkit-transition:all .5s ease;
    transition:all .5s ease;
}

/*
 * Settings
 */
.sec-title {
    font-size: larger;
    font-weight: bold;
}

.iasl-args {
    border-bottom: none;
}

/*
 * iASL output
 */
.acpi-iasl-output {
    position: relative;
    height: 250px;
}

[data-outtoline] {
    cursor: pointer;
    padding: 10px;
}

/*
 * Save As.. Modal
 */
.saveas-title {
    padding: 10px;
    font-weight: 600;
}

.saveas-text {
    width: 100%;
    border: none;
    height: 30px;
    font-size: 15px;
}

#saveas-form {
    width: 100%;
}

/*
 * MaciASL Patches Modal
 */
#patchesEd {
    height: 250px;
}

.patcher-open-btn {
    border-radius: 0 0 0 .25rem !important;
}

.patcher-apply-btn {
    border-radius: 0 0 .25rem 0 !important;
}

.pbuild {
    font-weight: bold;
}

.buildingp {
    font-size: larger;
    font-weight: bolder;
}

/*
 * Info Modal
 */
.info-right-title {
    font-weight: 600;
}

/*
 * EDITOR
 */
.toolbar {
    z-index: 10;
    position: absolute;
    left: 0;
    bottom: 35px;
    top: 35px;
    width: 35px;
}

.toolbar > form {
    display: none;
}

.menu-btn {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 1.3rem;
    cursor: pointer;
}

.menu-btn i {
    padding-top: 15px;
}

.toolbar .ps__thumb-y {
    width: 1px;
}

.toolbar .ps__rail-y:hover > .ps__thumb-y, .toolbar .ps__rail-y:focus > .ps__thumb-y,
.toolbar .ps__rail-y.ps--clicking .ps__thumb-y {
    width: 2px;
}

#loadingtree {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

#loadingtree > .spinner-border {
    position: absolute;
    top: calc(45%);
}

#acpitree {
    z-index: 9;
    left: -240px;
    width: 270px;
    bottom: 35px;
    top: 35px;
    position: absolute;
    font-size: 80%;
    font-weight: bold;
    overflow: auto;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

#acpitree ol:first-child {
    padding-left: 25px;
    padding-top: 3px;
}

#acpitree ol {
    padding-left: 20px;
    list-style-type: none;
}

#acpitree li {
    list-style-type: none;
    position: relative;
}

.tree-item {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
}

.tree-item .icon {
    font-size: 20px;
    padding-right: 5px;
}

.fold-icon {
    position: absolute;
    cursor: pointer;
    left: -18px;
    top: 3px;
}

.acpitree-open {
    left: 35px !important;
}

.editor-tree-open {
    padding-left: 300px !important;
}

#loadingscr {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#loadingscr > .spinner-border {
    position: absolute;
    top: calc(45%);
}

.toast-container {
    z-index: 1051;
}

#loading-peditor {
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#loading-peditor > .spinner-border {
    position: absolute;
    top: calc(45%);
}

/*
 * RESPONSIVE
 */
@media (max-width: 550px) {
    #acpie-notf {
        width: 99% !important;
    }
}

@media (max-width: 767px) {
    .acpie-logo {
        margin-left: auto;
        margin-right: auto;
    }

    .handle-close {
        visibility: visible;
    }
}

@media (max-width: 1024px) {
    #acpie-notf {
        width: 50%;
    }
}

@media (min-width: 2100px) {
    #acpie-notf {
        width: 20%;
    }
}

@media (min-width: 3000px) {
    #acpie-notf {
        width: 15%;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-11 1:17:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
.rotate-vert-center-spin {
    -webkit-animation: rotate-vert-center-spin 4s cubic-bezier(0.550, 0.055, 0.675, 0.190) infinite reverse both;
    animation: rotate-vert-center-spin 4s cubic-bezier(0.550, 0.055, 0.675, 0.190) infinite reverse both;
    animation-delay: .5s;
}

@-webkit-keyframes rotate-vert-center-spin {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
@keyframes rotate-vert-center-spin {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

.rotate-vert-center-lin {
    -webkit-animation: rotate-vert-center-lin 12s linear infinite reverse both;
    animation: rotate-vert-center-lin 12s linear infinite reverse both;
}

@-webkit-keyframes rotate-vert-center-lin {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
@keyframes rotate-vert-center-lin {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
